################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InfoStore.old/InfoStore.old.csproj
/.vs/InfoStore/FileContentIndex
/.vs/InfoStore/DesignTimeBuild
/.vs/InfoStore/v17
/.vs/ProjectEvaluation
/.vs
/Bookmarks/bin/Debug/net6.0
/Bookmarks/obj
/InfoStore/bin/Debug/net6.0
/InfoStore/Extensions
/InfoStore/obj
/InfoStore.old/bin/Debug/net6.0
/InfoStore.old/obj
*.user
/Notes/bin/Debug/net6.0
/Notes/obj
*.saved
/ToDo/bin/Debug/net6.0
/ToDo/Data/Migrations
/ToDo/obj

/Futures/Bookshelf/bin/Debug/net6.0
/Futures/Bookshelf/Data/Migrations
/Futures/Bookshelf/obj

/.cr/personal/Navigation
/Futures/Bookshelf/wwwroot/books
