################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InfoStore.old/InfoStore.old.csproj
/.vs/InfoStore/FileContentIndex
/.vs/InfoStore/DesignTimeBuild
/.vs/InfoStore/v17
/.vs/ProjectEvaluation
/.vs

/Bookmarks/bin/Debug/net6.0
/Bookmarks/obj
/InfoStore/bin/Debug/net6.0
/InfoStore/Extensions
/InfoStore/obj
/InfoStore.old/bin/Debug/net6.0
/InfoStore.old/obj
*.user
/Notes/bin/Debug/net6.0
/Notes/obj
*.saved
/ToDo/bin/Debug/net6.0
/ToDo/obj

/Futures/Bookshelf/bin/Debug/net6.0
/Futures/Bookshelf/Data/Migrations
/Futures/Bookshelf/obj
/Futures/Bookshelf/wwwroot/books

/.cr/personal/Navigation
*.zip

/Bookshelf/bin/Debug/net6.0
/Bookshelf/obj
/Bookmarks/appsettings.json
/Bookmarks/appsettings.Development.json
/InfoStore/appsettings.json
/InfoStore/appsettings.Development.json
/Notes/appsettings.json
/Notes/appsettings.Development.json
/ToDo/appsettings.json
/ToDo/appsettings.Development.json
/Bookmarks/appsettings.json
/Bookshelf/appsettings.json
/Bookshelf/appsettings.Development.json
/InfoStore/appsettings.json
/Notes/appsettings.json
/ToDo/appsettings.json
/Notes/appsettings.json
/InfoStore/appsettings.json
/Bookshelf/appsettings.json
/Bookmarks/appsettings.json
/InfoStore/Properties/PublishProfiles/Remote.pubxml
/Bookmarks/Properties/PublishProfiles/FolderProfile1.pubxml
/Bookshelf/Properties/PublishProfiles/FolderProfile1.pubxml
/InfoStore/Properties/PublishProfiles/FolderProfile.pubxml
/Notes/Properties/PublishProfiles/FolderProfile1.pubxml
/ToDo/Properties/PublishProfiles/FolderProfile1.pubxml
/Bookmarks/Properties/PublishProfiles/Remote.pubxml
/Bookshelf/Properties/PublishProfiles/Remote.pubxml
/Notes/Properties/PublishProfiles/Remote.pubxml
/Bookmarks/bin/Release/net6.0
/Bookshelf/bin/Release/net6.0
/InfoStore/bin/Release/net6.0
/Notes/bin/Release/net6.0
/Publish
/ToDo/bin/Release/net6.0
/ToDo/Properties/PublishProfiles/Remote.pubxml
/Spikes/ConsoleApp1/ConsoleApp1.csproj
/Spikes/ConsoleApp1
